<h1>Meal Suggestions</h1> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<table class="table table-striped">

<thead>
<tr>
    <th scope="col">Dish</th>
    <th scope="col">Type</th>
    <th scope="col">Time</th>
    <th scope="col">Ingredients</th>

</tr>
</thead>

<tbody>
{% for d in response %}
<tr>
    <th scope="row"><a  href={{d.Link}}><img src={{d.Image}} height=150 title = {{d.dish}}></th>
    <td>{{d.dishtype}}</td>
    <td>{{d.cooktime}}</td>
    <td>{{d.Status}}</td>
    <td></td>
</tr>

{% endfor %}
</tbody>
</table>


