<HTML>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <H1>India News</H1>
        <TABLE class="table table-striped table-dark">
            <TR>
                <TH scope="col">Headline</TH>
            </TR>

                {% for newsitem in newslist %}
            <TR>
                
                <TD ><A href='{{newsitem.link}}' style="color:#fbff00;"> {{newsitem.Title}} </A>
                <P >{{newsitem.Source}} - {{newsitem.Published}}</P>
                </TD>
                <TD style="width:50%;">{{newsitem.Summary_Detail}}</TD>
                                
            </TR>
            {% endfor %}
        </TABLE>
    
    </HTML>
    
    
    